.vscode/
Lib/
Scripts/
Include/
pyvenv.cfg
*.json
api_call/*
reviews/*
product_detail_location/*
product_images/*
*.png
*.jpg
share/
.idea/

# Windows에서 생성되는 파일 및 디렉토리 무시
*.pyc
__pycache__/
venv/
*.pyo
*.zip
